*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-size: 20px;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: #111;
    color: #efefef;
}
.wrapper {
    width: 60%;
    margin: 50px auto;
    border: 3px solid #fb7373;
    border-radius: 5px;
}
.form{
    width: 50%;
    margin: 25px auto 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
}
.inputWrap{
    flex-basis: 100%;
    margin: 10px 0 5px;
}
label{
    display: block;
}

